html{
    color: black;
    font-family:sans-serif;
}
.error-message{
    color: red;
    font-size: small;
}
.center{
    display: flex;
    justify-content: center;
}
select{
    width: 100%;
}
table {
    border-collapse: separate;
    border-spacing: 0 3px;
}
nav{
    background-color: #da2b08;
    height: 70px;
    top: 0px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 150px;
    height: 112.5px;   
}
a{
    text-decoration: none;
    color: black;
}